attached_assets/Pleiadians_M_small_1780921402121.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Pleiadians_F__1780974076787.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_shaded_Pleiadians_F__1780974076787.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/Nordic_M_1780975005941.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Hybrid_F__1780975380273.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Hybrid_M__1780975489966.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Nordic_F__1780975039743.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Nordic_M__1780974627946.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Reptillian_F__1780977410262.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_Reptillian_M__1780977397652.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_shaded_Hybrid_M__1780975489966.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_shaded_Nordic_F__1780975039743.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_shaded_Nordic_M__1780974627947.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_shaded_Reptillian_M__1780977397652.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/Screen_Recording_20260612_162237_Football_Strike_1781245397107.mp4 filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_pbr_1781319201236.glb filter=lfs diff=lfs merge=lfs -text
attached_assets/base_basic_shaded_1781319201236.glb filter=lfs diff=lfs merge=lfs -text
ags-mobile.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/premium_exact_keyframe_png_sequence_1782568407135.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_01_frames_0000_0011_1782620104429.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_01_frames_0000_0011_1782621431750.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_02_frames_0012_0023_1782621568544.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_03_frames_0024_0035_1782621618541.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_04_frames_0036_0047_1782621670116.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_05_frames_0048_0059_1782621720388.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_06_frames_0060_0071_1782621818535.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_07_frames_0072_0083_1782621881795.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/AGS_batch6_split_08_frames_0084_0095_1782621931066.zip filter=lfs diff=lfs merge=lfs -text
